*{
    margin: 0px;
    padding: 0px;
}


.links{
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: #174973;
    font-size: 15px;
    padding: 10px;
}
.links div ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.links div ul li a{
    color: white;
    text-decoration: none;
    margin: 8px;
}

.banner{
    background-image: url(./isrobannerLarge.png.webp);
    background-color: #032848;
    background-size:contain;
    height: 80px;
    border: 0px;
    margin:0px;
    padding: 5px 80px ;
    background-repeat: no-repeat;
    background-position: center;
    }

    .nav{
        display: flex;
        justify-content: space-around;
        background-color: #174973;
        padding: 10px;

    }
    nav ul{
        display: flex;
        list-style-type: none;
        gap: 10px;

    }

    #ch3logo{
        
        width: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./img/Ch3Logo.jpg);

    }
    nav ul li a{
        font-size: 20px;
        color: white;
        text-decoration: none;
        margin: 10px;
    }
    #updates{
        margin: 20px;
        background-color: #c9d8fa;
        justify-content: center;
        display: flex;
    }
    #latestnews {
        margin: 20px;
    }
    #updates h3 {
        color: #03234a;
        font-family: verdana;
        margin: 10px 0px;
        font-size: 22px;
    }
    
    #latestnews ol{
        list-style-type: none;
    }
    #latestnews ol li{
        color: white;
        padding: 16px 20px;
        font: 16px verdana;
        margin-bottom: 1px;
        background: linear-gradient(45deg,#1558ba 20%,#5e93e0 60%,#020c44);

    }
    #latestnews ol li:first-child{
        border-radius: 5px 5px 0px 0px;
    }
    #highlights{
        margin: 20px;
    }
    #highlights img{
        max-width: 600px;
    }

    .isroportals{
        padding: 10px 0px;
        background-color: rgb(2,16,70);
        color: white;
    }

    .portalicons{
        display: flex;
        padding: left 50px;;
        gap: 100px;

    }
    #size{
        font-size: xx-large;
       
    }

    .icontag{
        color: white;
        margin: 2px 5px auto 5px;
    }
    .icons{
        width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    border: 3px solid rgb(0,171,255);
    text-align: center;  
    }


    #recentupdate{
        padding: 10px 10px 30px 10px;
    }
    
    #recentupdate .container{
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,1); 
       display: flex;
       gap: 25px;
       justify-content: center;
       border-top: solid 2px darkblue;
   }
   
   #recentupdate h3{
       color: #03234a;
       font-family: verdana;
       font-size: 22px;
       margin: 10px 0px;
   }
   #recentupdate .card{
       
       min-height: 350px;
       min-width: 300px;
       border: solid 1px black;
       color: white;
   }

   .content {
    opacity: 0;
    padding: 12px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgb(0,0,0,1)95%);

}
.content:hover{
opacity: 1;

}

#card1{
    background-image: url(./GaganyaanTVD1.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
#card2{
    background-image: url(./PSLVC56_PostImg.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#card3{
    background-image: url(./mahaquiz1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#card4{
    background-image: url(./AzadiKaAmrit_large.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.date{
    color: yellow;
}

.Autonomous{
    background-color: #020c44;
    padding: 200px 100px;
    
}

#Autocolor{
    color: white;
    text-align: center;
    position: ;
}

.textcolor{
    color: white;
    text-align: center;
}


